version: '3'
services:
    chotuve_app:
        build: .
        environment:
            # Flask
            STATIC_URL: "/static"
            STATIC_PATH: "/var/www/app/app/static"
            DATABASE_URL: "postgres://chotuve_app:chotuve_app@chotuve_app_db/chotuve_app"
            PORT: 28080 
            CHOTUVE_AUTH_URL: ${CHOTUVE_AUTH_URL:-http://chotuve_auth:26080}
            CHOTUVE_MEDIA_URL: ${CHOTUVE_MEDIA_URL:-http://chotuve_media:27080}
        ports:
            - ${CHOTUVE_APP_PORT:-28080}:28080
        links:
            - chotuve_app_db
        networks:
            - default
            - chotuve
    chotuve_app_db:
        image: postgres
        environment:
            POSTGRES_DB: chotuve_app
            POSTGRES_USER: chotuve_app
            POSTGRES_PASSWORD: chotuve_app
        volumes:
            - chotuve_app_db:/var/lib/postgresql/data
volumes:
    chotuve_app_db:
networks:
    chotuve:
        external: true
