version: '3'
services:
    chotuve_app:
        build: .
        environment:
            # Flask
            STATIC_URL: "/static"
            STATIC_PATH: "/var/www/app/app/static"
            DATABASE_URL: "postgres://chotuve_app:chotuve_app@db/chotuve_app"
            PORT: 5000 
        ports:
            - ${CHOTUVE_APP_PORT:-5000}:5000
        links:
            - db
    db:
        image: postgres
        environment:
            POSTGRES_DB: chotuve_app
            POSTGRES_USER: chotuve_app
            POSTGRES_PASSWORD: chotuve_app
        volumes:
            - chotuve_app_db:/var/lib/postgresql/data
volumes:
    chotuve_app_db:
